# 1.prg to accept the details of a student

In [13]:
name   =input("Enter the name of the student:")
rollno =input("Enter your roll no:")
mark   =input("Enter your mark:")

print("Name:",name)
print("Roll no:",rollno)
print("Mark:",mark)

Enter the name of the student:Ashvi
Enter your roll no:23
Enter your mark:100
Name: Ashvi
Roll no: 23
Mark: 100

# 2.Temperature conversions b\w Fh and degC

In [17]:
f = float(input("enter the temperature in fahrenheit:"))
c = 5*(f-32)/9
print("Temperature in Fahrenheit:",f)
print("Temperature in Celcius:",c)

enter the temperature in fahrenheit:42
Temperature in Fahrenheit: 42.0
Temperature in Celcius: 5.555555555555555

# 3.Multiplication of user entered inputs

In [18]:
num1 = int(input("enter the first number:"))
num2 = int(input("enter the second number:"))
print("The Product of the given numbers is:",num1*num2)

enter the first number:10
enter the second number:10
The Product of the given numbers is: 100

# 4.String Modulation

In [12]:
string = "Learn Python by developing a Website"
string[5]="**"
string[11]="**"
print(string)

TypeError: 'str' object does not support item assignment

# 5.Display the area of the circle

In [19]:
import math
rad  = float(input("enter the radius of the circle:"))
area = math.pi*rad*rad
print ("The area of the circle is:",area)

enter the radius of the circle:5
The area of the circle is: 78.53981633974483

# modulation of the list

In [23]:
li = [12,13,78,48,90]
print(li)
value = int(input("enter the value to be inserted:"))
pos = int(input("enter the position:"))
li.insert(pos,value)
print(li)

[12, 13, 78, 48, 90]
enter the value to be inserted:890
enter the position:4
[12, 13, 78, 48, 890, 90]

# 7.changing dictionary key

In [34]:
sample_dict={"name":"John","age":50,"salary":10000,"city":"Newyork"}
print(sample_dict)
print(sample_dict["name"])
sample_dict["city"] = sample_dict["location"]
print(sample_dict)

{'name': 'John', 'age': 50, 'salary': 10000, 'city': 'Newyork'}
John

KeyError: 'location'

# 8.changing dictionary value

In [43]:
sample_dict={'emp1':{'name':'John','salary':7500},
             'emp2':{'name':'Emma','salary':8000},
            'emp3':{'name':'Brad','salary':500}}
sample_dict['emp3']['salary']=8500
print(sample_dict)

{'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

# 9.copy elements from a tuple

In [50]:
tuple1=(10,20,43,54,56,68)
print(type(tuple1))
tuple2=(tuple1[2],tuple1[3])
print("tuple2= ",tuple2)

<class 'tuple'>
tuple2=  (43, 54)

# 10.count the no: of occurrences inside tuple

In [51]:
tup=(50,10,60,70,50,83,567,50,81)
tup.count(50)

3